.footer {
    padding-left: 25px;
    padding-top: 37px;
    padding-bottom: 37px;
    background: $color-dark-gray;

    a {
        display: block;
        margin-bottom: 0.5em;
        text-decoration: none;
        color: #fff;
        font-weight: $font-weight-medium;
    }

    &__content {
        max-width: 1440px;
        margin: 0 auto 0 auto;
    }

    &__ohmyfood-logo {
        width: 98px;
        height: 18px;
        margin-bottom: 20px;
        filter: invert(1);
    }

    %footer-icon {
        height: 1em;
        filter: invert(1);
    }

    &__suggest-icon {
        width: 11px;
        margin-right: 12px;
        @extend %footer-icon;
    }

    &__partnering-icon {
        width: 12px;
        margin-right: 11px;
        @extend %footer-icon;
    }
}